{% extends 'base.html' %} {% block content %}

<h1>Supplement Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ sup.name }}</span>
    <p>Dosage: {{ sup.dosage }}</p>
    <p>Description: {{ sup.description }}</p>
    {% if sup.amt > 0 %}
    <p>Amount: {{ sup.amt }} per day</p>
    {% else %}
    <p>Not Taking</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'sups_update' sup.id %}">Edit</a>
    <a href="{% url 'sups_delete' sup.id %}">Delete</a>
  </div>
</div>
{% endblock %}